<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>

	<link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/modern-business.css" />

</head>
<body>

<div th:replace="fragments/header :: header" />

<!-- Header Carousel -->
<header id="myCarousel" class="carousel slide">
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>

	<!-- Wrapper for slides -->
	<div class="carousel-inner">
		<div class="item active">
		<div class="fill" style="background-image:url('http://placehold.it/1900x1080');" />
			<div class="carousel-caption d-none d-md-block">
				<h2>Caption 1</h2>
				<p>This is a description for the first slide.</p>
			</div>
		</div>
		<div class="item">
		<div class="fill" style="background-image:url('http://placehold.it/1900x1080');" />
			<div class="carousel-caption d-none d-md-block">
				<h2>Caption 2</h2>
				<p>This is a description for the second slide.</p>
			</div>
		</div>
		<div class="item">
		<div class="fill" style="background-image:url('http://placehold.it/1900x1080');" />
			<div class="carousel-caption d-none d-md-block">
				<h2>Caption 3</h2>
				<p>This is a description for the third slide.</p>
			</div>
		</div>
	</div>

	<!-- Controls -->
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
		<span class="icon-prev" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
		<span class="icon-next" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</header>

<div class="container">

	<!-- Portfolio Section -->
	<div class="row">
		<div class="col-lg-12">
			<h2 class="page-header">Portfolio Heading</h2>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="panel panel-default">
					<a href="portfolio-item.html">
						<img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="" />
					</a>
				<div class="panel-body">
					<h4><a href="#">Project One</a></h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="panel panel-default">
				<div class="panel-body">
					<a href="portfolio-item.html">
						<img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="" />
					</a>
					<h4><a href="#">Project Two</a></h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
				</div>
			</div>
		</div>
		<div class="col-md-4 col-sm-6">
			<div class="panel panel-default">
					<h4><a href="#">Project Three</a></h4>
					<a href="portfolio-item.html">
						<img class="img-responsive img-portfolio img-hover" src="http://placehold.it/700x450" alt="" />
					</a>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
			</div>
		</div>
	</div>
	<!-- /.row -->

</div>

<div th:replace="fragments/footer :: footer" />

<script src="/jquery/jquery-3.2.1.min.js" />
<script src="/bootstrap-3.3.7/js/bootstrap.min.js" />
<script src="/js/getrequest.js" />

</body>
</html>
